
body {
            background-color: lightgoldenrodyellow;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20 px;
        }
        h1 {
            color: maroon;
            background-color: darkgoldenrod;
        }
        h2 {
            color: darkred;
        }
        p {
            text-align: justify;
    }
