@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner{
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    height: 100vh;
    width: 100vw;
}

.caixa{
    background-color: lightgray;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

#topo{
    grid-area: 1/1/2/3;
}

#menu{
    grid-area: 2/1/3/3;
}

#principal{
    grid-area: 3/1/-2/2;
}

#secundario{
    grid-area: 3/-2/-2/-1;
}

#rodape{
    grid-area: -2/1/-1/-1;
}