@charset "UTF-8";


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;   
}

h1{
    font: italic bold 3em Arial, Helvetica, sans-serif
}

h2{
    font: bold 2em Arial, Helvetica, sans-serif
}