@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.caixa1{
    background-color: red;
    grid-area: 1/1/2/-1;
}

.caixa2{
    background-color: blue;
    grid-area: 2/1/4/3;
}

.caixa3{
    background-color: yellow;
    grid-area: 2/3/-1/5;
}