@charset "UTF-8"; 

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to left, #8AA6A3,#BFBFBF);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 15px #485c5a;
    width: 600px;
    padding: 10px;
    margin:auto
}

h1{
    color:#10403B ;
    text-align: center;
    text-shadow: 1px 1px 2px hsl(174, 80%, 40%);
}

h2{
    color: #127369;
}
p{
    text-align: justify;
}